<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>파일 업로드 해보기</title>
</head>
<body>
	<h3>사진 업로드하기</h3>
	
	<form action="./save" method="POST" enctype="multipart/form-data">
		<table border="2">
			<tr>
				<th>파일 선택하기</th>
				<td>
					<input type="file" name="profileImageFile" />
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<input type="submit" value="업로드하기" />
				</td>
			</tr>
		</table>
	</form>
	
	<h3>사진 여러 개 업로드하기(multiple 속성 활성화)</h3>
	
	<form action="./multisave" method="POST" enctype="multipart/form-data">
		<table border="2">
			<tr>
				<th>파일 여러 개 선택하기</th>
				<td>
					<input type="file" name="profileImageFiles" multiple />
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<input type="submit" value="업로드하기" />
				</td>
			</tr>
		</table>
	</form>
</body>
</html>