<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- Window > Preferences > Maven > download artifact javadoc 체크 하면 빨간 줄 없어짐 -->
<configuration>
<!-- 별칭으로 따로 저장하여 mapper 파일에서 사용할 수 있다 -->
  <typeAliases>
  	<typeAlias type="com.ezen.springdata.dto.EmployeeDTO" alias="emp"/>
  	<typeAlias type="com.ezen.springdata.dto.EmpDeptDTO" alias="emp_dept"/>
	<typeAlias type="com.ezen.springdata.dto.FruitDTO" alias="fruit"/>  
	<typeAlias type="com.ezen.springdata.profile.dto.ProfileImageDTO" alias="profileImage"/>  
  </typeAliases>
</configuration>