<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- mapper의 namespace는 이 mapper를 가져다 쓸 때의 이름이다 -->
<mapper namespace="Fruits">
	<insert id="add" parameterType="fruit">
		INSERT INTO fruits
			(fname, price, qty, exp_date)
		VALUES
			(#{fname}, #{price}, #{qty}, sysdate + 7)
	</insert> 
</mapper>