<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- mapper의 namespace는 이 mapper를 가져다 쓸 때의 이름이다 -->
<mapper namespace="Employees">
  <!--
  	 id: 이 쿼리문을 실행하고 싶을 때 사용할 이름
  	 resultType : 이 select 쿼리문의 실행 결과가 어떤 타입으로 나오게 될지 설정	 
   
  -->
  <!-- * 표시는 사용하지 않는게 좋다 -->
  <select id="getAll" resultType="com.ezen.springdata.dto.EmployeeDTO">
  		SELECT 
  			employee_id, first_name, last_name, email, phone_number,
  			hire_date, job_id, salary, commission_pct, manager_id,
  			department_id
  		FROM
  			employees2
  </select>
 
 <!-- parameterType : 이 쿼리문을 실행하기 위해 전달받을 파라미터의 타입을 정의한다 -->
  <select id="get" resultType="emp" parameterType="Integer">
  		SELECT 
  			employee_id, first_name, last_name, email, phone_number,
  			hire_date, job_id, salary, commission_pct, manager_id,
  			department_id
  		FROM
  			employees2
  		WHERE
  			employee_id = #{employee_id} <!-- 파라미터 사용 : #{ } -->
  </select>
  
  <select id="getAllByDeptId" resultType="emp" parameterType="Integer">
  		SELECT 
  			employee_id, first_name, last_name, email, phone_number,
  			hire_date, job_id, salary, commission_pct, manager_id,
  			department_id
  		FROM
  			employees2
  		WHERE
  			department_id = #{department_id} <!-- 파라미터 사용 : #{ } -->
  </select>
  
  <select id="getEmpDept" resultType="emp_dept" parameterType="Integer">
  		SELECT 
  			employee_id, first_name, last_name, e.department_id, department_name
  		FROM
			employees2 e, departments d
		WHERE
			e.employee_id = #{emp_id} AND e.department_id = d.department_id  
  </select>
  
  <select id="getAllUnderSalary" resultType="emp" parameterType="Double">
  		SELECT 
  			employee_id, first_name, last_name, email, phone_number,
  			hire_date, job_id, salary, commission_pct, manager_id,
  			department_id
  		FROM
  			employees2
  		WHERE
  			salary <![CDATA[<]]> #{salary}
  		ORDER BY
  			salary DESC
  		<!-- 부등호를 사용할 때는 <![CDATA[?]]> ? 안에다 사용하여야 한다 -->
  </select>
  
</mapper>